body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  overflow: hidden;
  position: relative;
}
.navigation-bar{position: relative;z-index: 999}
.panel-right{
	position: fixed;
	right: 0;
	width:30%;
	height: 100%;
	background-color:#eee;
	border-left: 1px solid #ddd;
}
.panel-left{
	position: fixed;
	left: 0;
	width:15%;
	height: 100%;
	background-color:#eee;
	border-right: 1px solid #ddd;
}
#cy {
	position: fixed;
	width: 55%;
	height: 95%;
	right:0;
	left:15%;
	top:0;
	bottom: 5%;
}
#footer{
	width: 100%;
	bottom: 0;
	right: 0;
}
#control{
	position: fixed;
	width: 55%;
	height: 5%;
	right:0;
	left:15%;
	bottom: 0;
}
#control>button:active{
	border: none;
}
#control>button:not(#timeline_reset_btn){
	padding: 1%;
	background-color: #fff;
	position: relative;
	left: 6%;
	top:0;
	height: 100%
}
#control>#timeline_reset_btn{
	padding: 1%;
	background-color: #fff;
	position: absolute;
	top:0;
	right: 12.5%;
	height: 100%;
}
#control > .progress-bar{
	position: absolute;
	width: 50%;
	left: 25%;
	height: 50%;
	top:25%;
}
.cytoscape-navigator{
	position: fixed;
	background: rgba(255,255,255,0.8);
	z-index: 99999;
	width: 15%;
	height: 20%;
	bottom: 0;
	left: 0;
	overflow: hidden;
	border: 1px solid #ddd;
}

.cytoscape-navigator > canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}

.cytoscape-navigatorView{
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	background: #B7E1ED;
	-moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	z-index: 102;
}

.cytoscape-navigatorOverlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 103;
}
