body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  overflow: hidden;
  position: relative;
}
.navigation-bar{position: relative;z-index: 999}
.panel-right{
	position: fixed;
	right: 0;
	width:30%;
	height: 100%
}
#cy {
	position: fixed;
	width: 70%;
	height: 100%;
	right:0;
	left:0;
	top:0;
}
#footer{
	width: 100%;
	bottom: 0;
	right: 0;
}
.cytoscape-navigator{
	position: fixed;
	background: rgba(255,255,255,0.8);
	z-index: 99999;
	width: 15%;
	height: 20%;
	bottom: 0;
	right: 30.1%;
	overflow: hidden;
}

.cytoscape-navigator > canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}

.cytoscape-navigatorView{
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	background: #B7E1ED;
	-moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	z-index: 102;
}

.cytoscape-navigatorOverlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 103;
}
